.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  color: white;
  animation: slideIn 0.3s ease-out;
}

.notification.success {
  background: #83df86;
}

.notification.error {
  background: #f76157;
}


@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}